@import "../../../node_modules/the-new-css-reset/css/reset.css";



html, body {
    color: #505050;
    background-color: #F5F5F5;
    font-size: 20px;
    font-family: "Helvetica Neue", helvetica, arial, "Lucida Grande", "LiHei Pro", "WenQuanYi Zen Hei", "微軟正黑體", "Microsoft JhengHei", "微软雅黑", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

h1 {
    font-weight: 200;
    font-size: 60px;
    text-align: center;
}

.todolist-wrapper {
    width: 90%;
    /* border: 1px solid gray; */
    margin: 0 auto;
    background-color: #FFFFFF;
}

.new-todo {
    width: 100%;
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: 300;
    padding: 16px;
    /* border: none; */
    border-bottom: 1px solid #E0E0E0;
    /* outline: none; */
}
